* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  text-decoration: none;
}

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: var(--pale-blue);
  padding: 1rem;
}

main {
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 1.5rem 0 hsl(224, 23%, 55%, 20%);
}

.hero-image {
  max-width: 100%;
  display: block;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 2rem 1.5rem;
  text-align: center;
}

/* Typography */

h1,
h2,
.cancel-button:hover {
  color: var(--dark-blue);
}

p,
h3,
.cancel-button {
  color: var(--desaturated-blue);
}

p,
.annual-plan h3 {
  font-weight: 500;
}

.payment-button {
  font-weight: 700;
}

h1,
.annual-plan h2,
.change-button,
.cancel-button {
  font-weight: 900;
}

.annual-plan h2,
.annual-plan h3,
.change-button {
  font-size: 1rem;
}

/* ... */

p {
  max-width: 25ch;
  margin: auto;
  line-height: 1.6;
}

.annual-plan {
  background-color: var(--very-pale-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

.container-with-icon {
  display: flex;
  gap: 1.5rem;
}

.container-plan-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.change-button {
  text-decoration: underline;
  color: var(--bright-blue);
}

.change-button:hover {
  color: #766cf1;
  text-decoration: none;
}

.payment-button {
  background-color: var(--bright-blue);
  color: var(--very-pale-blue);
  padding: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 1.5rem 1rem 0 hsl(245, 75%, 52%, 15%);
}

.payment-button:hover {
  background-color: #766cf1;
}

@media (width < 350px) {
  .annual-plan,
  .container-with-icon {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}

@media (width >= 768px) {
  body {
    background-image: url(./images/pattern-background-desktop.svg);
  }

  .card-content {
    padding: 3rem;
  }

  p {
    max-width: 30ch;
  }

  .annual-plan {
    padding: 1.6rem;
  }

  .payment-button {
    margin: 0.5rem 0;
  }
}
